menu "ARCH(Architechtures)"

comment "Architechture"
choice ARCH
	prompt "Supported Architechtures"
	default X86_64
	config X86
		bool "X86 32 bit"
	config X86_64
		bool "x86 64 bit"
	config ARM
		bool "Arm 32 bit"
	config ARM64
		bool "ARM 64"
	config POWER_PC 
		bool "PowerPC 32 bit"
	config POWER_PC 
		bool "PowerPC 64 bit"
	config MIPS
		bool "Mips 32bit"
	config MIPS64
		bool "Mips 64"

endchoice

comment "Board" 
# its really the tune
source "arch/arm/Kconfig"
source "arch/arm64/Kconfig"
source "arch/x86/Kconfig"
source "arch/x86_64/Kconfig"

endmenu
